.link {
    text-decoration: none;
    color: black;
}

.items {
    display: grid;
    grid-template-columns: repeat(2, auto);
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Animacion CARD */
.cardImg {
    box-sizing: border-box;
    transition: 400ms;
}

.cardImg:hover {
    transform: translateY(-30px);
    transform: translate(-10px, -10px) rotate(-15deg) scale(1.4);
}

.carrito,
.necy {
    max-width: 100px;
}

.foto {
    max-width: 300px;
}