html,
.NavBar {
    background: rgb(7, 219, 166);
}

.NavBar {
    display: flex;
    justify-content: space-around;
}

.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrito {
    max-width: 100px;
}

.foto {
    max-width: 300px;
}