body {
    background-color: rgb(7, 219, 166);

}

.NavBar {
    display: flex;
    justify-content: space-around;
}

.padre-productos {
    height: 450px;
    font-size: larger;
    display: flex;
    justify-content: space-around;
}

.foto {
    max-width: 300px;
}